<footer class="fixed bottom-0 left-0 right-0 bg-black text-white shadow-md z-10">
  <nav class="flex justify-around items-center h-16 max-w-3xl mx-auto px-4">
    <%= link_to new_contact_path, class: "flex flex-col items-center text-center p-2 hover:bg-gray-800 rounded-md" do %>
      <span>📝</span>
      <span class="text-xs mt-1">お問い合わせ</span>
    <% end %>
    <%= link_to privacy_path, class: "flex flex-col items-center text-center p-2 hover:bg-gray-800 rounded-md" do %>
      <span>🔒</span>
      <span class="text-xs mt-1">プライバシーポリシー</span>
    <% end %>
    <%= link_to terms_path, class: "flex flex-col items-center text-center p-2 hover:bg-gray-800 rounded-md" do %>
      <span>📜</span>
      <span class="text-xs mt-1">利用規約</span>
    <% end %>
    <%= link_to help_path, class: "flex flex-col items-center text-center p-2 hover:bg-gray-800 rounded-md" do %>
      <span>❓</span>
      <span class="text-xs mt-1">ヘルプ</span>
    <% end %>
  </nav>
</footer>