<h1>利用規約</h1>

<style>
  .page {
    writing-mode: horizontal-tb;
    white-space: normal;
    letter-spacing: normal;
    word-break: normal;
  }
</style>

<div class="page">
  <p>この利用規約（以下「本規約」）は、「アニマルフィットネス」（以下「本サービス」）の利用条件を定めるものです。</p>

  <h2>第1条（適用）</h2>
  <p>本規約は、ユーザーと当サービス提供者との間のすべての関係に適用されます。</p>

  <h2>第2条（禁止事項）</h2>
  <ul>
    <li>不正な目的での利用</li>
    <li>筋トレ以外の目的でのカメラ使用</li>
    <li>動物トレーナーの不正育成（チート行為）</li>
  </ul>

  <h2>第3条（サービス提供の停止）</h2>
  <p>システムメンテナンスや災害時などに、サービスを停止・中断する場合があります。</p>

  <h2>第4条（免責事項）</h2>
  <p>ユーザーが自己の責任でトレーニングを行い、体調に異変を感じた場合は直ちに運動を中止してください。</p>

  <h2>第5条（規約の変更）</h2>
  <p>必要に応じて本規約は変更することがあり、変更後もサービス利用を続けた場合は同意したものとみなします。</p>
  <%= link_to "トップへ" , root_path %>
</div>